@import "tailwindcss";

@theme {
  --font-sans: 'Assistant', sans-serif;
  --font-serif: 'Heebo', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;600;700&family=Heebo:wght@300;400;700;900&display=swap');

body {
  direction: rtl; 
}